body, a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  text-align: center;
  margin: 0;
}

header {
  height: 69px;
  text-align: initial;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  z-index: 5;
}

header img {
  height: 50px;
  margin-left: 10px;
  display: inline-block;
}

header nav {
  display: inline-block;
}

nav span {
  padding: 0 8px;
}

#mission {
  margin: 70px auto 0 auto;
  height: 700px;
  width: 1200px;
  background-image: url("../../resources/images/img-mission-background.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.missiontext {
  background-color: black;
  min-width: 1200px;

  }

.missiontext h2, h4 {
  margin: 10px;
  color: seashell;
}

#tea {
  width: 1000px;
  margin: 0 auto;
  padding-top: 70px;
}

.tea-images {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.tea-images div {
  margin: 10px 15px;
}

#locations {
  background: url("../../resources/images/img-locations-background.jpg") no-repeat top right;
  margin: 0 auto;
  height: 500px;
  width: 1200px;
  border-top: 70px solid black;
  }

#locations h2{
  padding-top: 75px;

}

.loc-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.box {
  background-color: black;
  min-width: 300px;
  margin: 15px 20px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.box h3, p {
  padding: 10px 0;
}

.contact {

  margin: 4rem auto;
  width: 1200px;
}

.contact h5{
  margin-bottom: 0;
}

.copy {
  margin-left: 20px;
  text-align: left;
}
